#chatbutton {
    touch-action: none;
    position: fixed;
    z-index: 2147483647;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #1fcaa7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-width: 0;
    top: 90%;
    left: 90%;
    outline:none;
    cursor: pointer;
    text-align: center;
    opacity: 0.25;
    -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    display: none;
}

#chatbutton:hover {
    opacity: 1;
}

#chatbutton.showpopup {
    background-color: #1cb495;
    top: 90%;
    left: 90%;
    opacity: 1;
}

#chatbutton > svg{
    position: absolute;
    top: 11px;
    left: 11px;
}

.bg-primary{
    background-color: #1cb495;
}

#chatpopup {
    touch-action: none;
    z-index: 2147483647;
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 300px;
    height: 500px;
    border-radius: 1%;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
    padding: 10px;
}

#chatpopup:hover {
    overflow-y: scroll;
    overflow-y: overlay;
}

@-webkit-keyframes chat-shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); opacity: 1;} 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); opacity: 1;}
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); opacity: 1;}
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); opacity: 1;}
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); opacity: 1;}
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); opacity: 1;}
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); opacity: 1;}
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); opacity: 1;}
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); opacity: 1;}
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); opacity: 1;}
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); opacity: 1;}
}
.chat-shake {
    -webkit-animation-name: chat-shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}
.chat-shake {
    opacity: 1;
    display:inline-block;
}